@import "tailwindcss";

@theme {
	--font-sans:
		"Atkinson Hyperlegible Next Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-spirit:
		"Spirit", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--color-brand-red: #ff0d2eff;
	--color-brand-orange: #ff690fff;
	--color-brand-yellow: #f1bf00ff;
	--color-brand-green: #00ae54ff;
	--color-brand-blue: #2b39feff;
	--color-brand-violet: #b300ffff;
	--color-brand-red-dark: #db003eff;
	--color-brand-orange-dark: #e54a00ff;
	--color-brand-yellow-dark: #d19100ff;
	--color-brand-green-dark: #008d3aff;
	--color-brand-blue-dark: #012ae0ff;
	--color-brand-violet-dark: #8400ffff;

	--color-project-overflow-1: #e4003fff;
	--color-project-overflow-2: #ff1552ff;
	--color-project-bombastic-1: #ff2e2eff;
	--color-project-bombastic-2: #ff662fff;
	--color-project-globalize-1: #ff9f25ff;
	--color-project-globalize-2: #ffc009ff;
	--color-project-hollow-1: #61b235ff;
	--color-project-hollow-2: #5cc423ff;
	--color-project-snapper-1: #1a59edff;
	--color-project-snapper-2: #7e82f5ff;
	--color-project-specter-1: #6d00e1ff;
	--color-project-specter-2: #9914ffff;
	--color-project-armistice: #000;

	--color-logo-deep-purple: #8400ff;
	--color-logo-purple: #b300ff;
	--color-logo-blue: #2b39fe;

	--color-ui-background: #0b0d0e;
	--color-ui-background-secondary: #101919;
	--color-ui-border: #21292c;
	--color-ui-text: #f6f5fa;
	--color-ui-text-strong: #ffffff;
}

@layer base {
	@font-face {
		font-family: "Spirit";
		font-style: normal;
		font-weight: 100;
		font-stretch: 100%;
		font-display: fallback;
		src: url("/fonts/SpiritRegular.ttf") format("truetype");
	}

	::-webkit-scrollbar {
		width: 1rem;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		scrollbar-color: #8400ff #161b1d;

		@apply border-ui-border select-none;
	}
}

@layer utilities {
	.rendering-pixelated {
		image-rendering: pixelated;
		image-rendering: -moz-crisp-edges;
		image-rendering: crisp-edges;
	}

	/* Layout styles */
	.layout-header-nine-slice {
		border-image: url(/assets/textures/layout/header_background.png) 5 5 5 5 fill / 240px 240px 240px 240px;
	}

	.layout-main-nine-slice {
		border-image: url(/assets/textures/layout/main_background.png) 5 5 5 5 fill / 40px 40px 40px 40px;
	}

	.layout-footer-nine-slice {
		border-image: url(/assets/textures/layout/footer_background.png) 8 8 8 8 fill / 64px 64px 64px 64px;
	}

	/* Background image size utils */
	.bg-size-sm {
		background-size: --spacing(256);
	}
}

@layer components {
	.button {
		@apply bg-ui-background-secondary shadow-ui-background-secondary rounded-xl px-4 py-3 text-lg font-extrabold shadow-xs transition active:scale-95 active:shadow-none;
	}

	.bgimg {
		mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
		-webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
	}

	.cardbg {
		mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%);
		-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%);
	}

	.md h1 {
		@apply mb-4 border-b text-3xl font-bold;
	}
	.md h2 {
		@apply my-2 border-b text-2xl font-bold;
	}
	.md h3 {
		@apply mb-4 text-xl font-bold;
	}
	.md img {
		@apply m-0.5 inline-block w-fit max-w-full;
	}
	.md p {
		@apply my-4;
	}
	.md strong {
		@apply font-bold;
	}
	.md li {
		@apply mb-4 ml-8 list-disc;
	}

	.md iframe {
		@apply aspect-video w-2xl max-w-full;
	}

	h1:not(.md h1) {
		@apply text-ui-text-strong text-4xl font-black tracking-tighter sm:text-6xl;
	}

	h2:not(.md h2) {
		@apply text-ui-text-strong text-4xl font-black tracking-tight;
	}

	.spirit-heavy {
		@apply text-ui-text-strong font-spirit text-8xl! font-normal! tracking-normal!;
	}
}
