@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

@font-face {
	font-family: "Spirit";
	font-style: normal;
	font-weight: 100;
	font-stretch: 100%;
	src: url("/fonts/SpiritRegular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;

@layer components {
	.button {
		@apply rounded-xl bg-brand-background-secondary px-4 py-3 text-lg font-extrabold shadow-sm shadow-brand-background-secondary transition active:scale-95 active:shadow-none;
	}
}

.bgimg {
	mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
	-webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.cardbg {
	mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%);
	-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%);
}

.md h1 {
	@apply mb-4 border-b text-3xl font-bold;
}
.md h2 {
	@apply my-2 border-b text-2xl font-bold;
}
.md h3 {
	@apply mb-4 text-xl font-bold;
}
.md img {
	@apply m-0.5 inline-block w-fit max-w-full;
}
.md p {
	@apply my-4;
}
.md strong {
	@apply font-bold;
}
.md li {
	@apply mb-4 ml-8 list-disc;
}

::-webkit-scrollbar {
	width: 1rem;
}

* {
	scrollbar-color: #8400ff #161b1d;
}

h1:not(.md h1) {
	@apply text-brand-text-strong text-4xl font-black tracking-tighter sm:text-6xl;
}

h2:not(.md h2) {
	@apply text-brand-text-strong text-4xl font-black tracking-tight;
}

.spirit-heavy {
	@apply text-brand-text-strong font-spirit !text-8xl !font-normal !tracking-normal;
}

@tailwind utilities;
