<h1>Welcome to nginx!</h1>
<p>
	If you see this page, the nginx web server for spiritstudios is successfully installed and working. Further
	configuration is required.
</p>
<p>
	For online documentation and support please refer to <a href="https://nginx.org">nginx.org</a>.<br />
	Commercial support is available at <a href="https://nginx.com">nginx.com</a>.
</p>
<p><em>Thank you for using nginx.</em></p>

<style>
	body {
		width: 35em;
		margin: 0 auto;
		font-family: Tahoma, Verdana, Arial, sans-serif;
	}
	h1 {
		display: block;
		font-size: 2em;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		font-weight: bold;
		unicode-bidi: isolate;
	}
	p {
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		unicode-bidi: isolate;
	}
	a:-webkit-any-link {
		color: -webkit-link;
		cursor: pointer;
		text-decoration: underline;
	}
</style>
