---
import Button from "@components/Button.astro";
import Logo from "@components/Logo.astro";
import Default from "@layouts/Default.astro";
import type { TeamMember } from "@type/modrinth";
import { USERAGENT_HEADER } from "@util/Constants";

const headers = new Headers({ "User-Agent": USERAGENT_HEADER });

const response = await fetch("https://api.modrinth.com/v3/organization/spirit/members", { headers: headers });
const data: TeamMember[] = await response.json();
---

<Default>
	<div class="flex h-full flex-col justify-center gap-2">
		<div class="flex w-fit flex-col gap-4">
			<Logo />
			<br class="select-none" />
			<h1 class="spirit-heavy">Redefining.</h1>
			<hr class="border-brand-border" />
			<span>
				Spirit Studios is a small Minecraft modding group that makes high-quality and fun mods for Fabric.
			</span>
			<div class="flex flex-row flex-wrap gap-2">
				<Button
					class="rounded-xl bg-brand-background-secondary p-2 text-[#FAFBFC]"
					href="https://github.com/SpiritGameStudios"
					icon="simple-icons:github"
				/>
				<Button
					class="rounded-xl bg-brand-background-secondary p-2 text-[#1BD96A]"
					href="https://modrinth.com/organization/spirit"
					icon="simple-icons:modrinth"
				/>
				<Button
					class="rounded-xl bg-brand-background-secondary p-2 text-[#5865F2]"
					href="https://discord.gg/TTmx7d2axf"
					icon="simple-icons:discord"
				/>
				<Button
					class="rounded-xl bg-brand-background-secondary p-2 text-[#FE0032]"
					href="https://youtube.com/@spiritgamestudios"
					icon="simple-icons:youtube"
				/>
			</div>
			<div class="flex select-none flex-row flex-wrap gap-2">
				{
					data
						.filter((a) => a.user.username.toLowerCase() !== "spiritstudios")
						.map((person) => (
							<a
								target="_blank"
								href={`https://modrinth.com/user/${person.user.username}`}
								class="ease-custom-1 transition-transform hover:translate-y-[-10%] active:translate-y-[10%]">
								<img
									class="h-10 w-10 rounded-full border border-brand-border"
									src={person.user.avatar_url == null ? " " : person.user.avatar_url}
								/>
							</a>
						))
				}
			</div>
		</div>
	</div>
</Default>
