---
import Logo from "@components/Logo.astro";
import Default from "@layouts/Default.astro";
import { USERAGENT_HEADER } from "@util/Constants";

const headers = new Headers({ "User-Agent": USERAGENT_HEADER });

let people;
try {
	people = await (
		await fetch("https://api.modrinth.com/v3/organization/spirit/members", {
			headers: headers,
		})
	).json();
} catch {
	people = [
		{
			user: {
				username: "undefined",
				avatar_url: "/favicon.svg",
				bio: "undefined",
			},
		},
	];
}

const links = [
	{
		name: "GitHub",
		to: "https://github.com/SpiritGameStudios",
	},
	{
		name: "Modrinth",
		to: "https://modrinth.com/organization/spirit",
	},
	{
		name: "Discord",
		to: "https://discord.gg/TTmx7d2axf",
	},
	{
		name: "YouTube",
		to: "https://youtube.com/@spiritgamestudios",
	},
];
---

<Default>
	<div class="flex h-full flex-col justify-center gap-2">
		<div class="flex w-fit flex-col gap-4">
			<Logo />
			<br class="select-none" />
			<h1 class="spirit-heavy">Redefining.</h1>
			<hr class="border-brand-border" />
			<span>
				Spirit Studios is a small Minecraft modding group that makes high-quality and fun mods for Fabric.
			</span>
			<div class="flex flex-row flex-wrap gap-2">
				{
					links.map((link: any) => (
						<span class="rounded-xl bg-brand-background-secondary p-2">
							<a href={link.to}> {link.name} </a>
						</span>
					))
				}
			</div>
			<div class="flex select-none flex-row flex-wrap gap-2">
				{
					people
						.filter((a: any) => a.user.username.toLowerCase() !== "spiritstudios")
						.map((person: any) => (
							<a target="_blank" href={`https://modrinth.com/user/${person.user.username}`}>
								<img
									class="h-10 w-10 rounded-full border border-brand-border"
									src={person.user.avatar_url}
								/>
							</a>
						))
				}
			</div>
		</div>
	</div>
</Default>
