<div>
	<svg
		class="h-9 w-fit"
		width="97mm"
		height="40mm"
		viewBox="0 0 97 40"
		version="1.1"
		id="svg4190"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		xmlns="http://www.w3.org/2000/svg">
		<defs id="verticalLogotype">
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient24911"
				gradientUnits="userSpaceOnUse"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"
				gradientTransform="translate(-65.000166,-1175)"></linearGradient>
			<linearGradient id="linearGradient4669-7">
				<stop style="stop-color:#6900ff;stop-opacity:1;" offset="0" id="stop4665"></stop>
				<stop style="stop-color:#c800ff;stop-opacity:1" offset="1" id="stop4667"></stop>
			</linearGradient>
			<linearGradient
				xlink:href="#linearGradient9738-8"
				id="linearGradient24913"
				gradientUnits="userSpaceOnUse"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"
				gradientTransform="translate(-65.000166,-1175)"></linearGradient>
			<linearGradient id="linearGradient9738-8">
				<stop style="stop-color:#006efc;stop-opacity:1" offset="0" id="stop9734"></stop>
				<stop style="stop-color:#5208ff;stop-opacity:1" offset="1" id="stop9736"></stop>
			</linearGradient>
			<linearGradient
				xlink:href="#linearGradient9738-8"
				id="linearGradient24915"
				gradientUnits="userSpaceOnUse"
				x1="245.6693"
				y1="4629.9214"
				x2="434.64566"
				y2="4440.9448"
				gradientTransform="matrix(0.26458333,0,0,0.26458333,-65.000166,-1175)"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient32554"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-65.000165,-1175)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient4331"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(-65.000166,-1175)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient4351"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999934,0,0,0.79999838,-52.000099,-939.99804)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient9738-8"
				id="linearGradient4355"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.21166649,0,0,0.21166624,-52.000099,-939.99804)"
				x1="245.6693"
				y1="4629.9214"
				x2="434.64566"
				y2="4440.9448"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient4359"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999934,0,0,0.79999838,-52.000099,-939.99805)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient41001"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999934,0,0,0.79999838,-52.000099,-939.99804)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient41003"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999934,0,0,0.79999838,-52.000099,-939.99804)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient25574"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999935,0,0,0.79999935,-52.000099,-939.99926)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient9738-8"
				id="linearGradient25578"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.21166649,0,0,0.21166649,-52.000099,-939.99926)"
				x1="245.6693"
				y1="4629.9214"
				x2="434.64566"
				y2="4440.9448"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient25582"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999935,0,0,0.79999935,-52.000099,-939.99927)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient42293"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999935,0,0,0.79999935,-52.000099,-939.99926)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
			<linearGradient
				xlink:href="#linearGradient4669-7"
				id="linearGradient42295"
				gradientUnits="userSpaceOnUse"
				gradientTransform="matrix(0.79999935,0,0,0.79999935,-52.000099,-939.99926)"
				x1="65"
				y1="1225"
				x2="115"
				y2="1175"></linearGradient>
		</defs>
		<g id="layer1" style="display:inline">
			<path
				d="m 66.321831,5.0831005 q -0.15973,-1.6067 -1.41875,-2.5556 -1.25903,-0.949 -3.16635,-0.949 -1.34359,0 -2.36772,0.4604 -1.01474,0.4604 -1.59727,1.2778 -0.57314,0.808 -0.57314,1.8416 0,0.761 0.32885,1.3341 0.32885,0.5732 0.8832,0.9866004 0.56374,0.404 1.24023,0.6953 0.68589,0.2912 1.38117,0.4886 l 2.02947,0.5825 q 0.92078,0.2537 1.84156,0.6483 0.92078,0.3946001 1.68183,0.9959001 0.77045,0.592 1.23084,1.4564 0.46978,0.855 0.46978,2.0576 0,1.5409 -0.79863,2.7718 -0.79864,1.2308 -2.29256,1.9543 -1.49391,0.714 -3.57976,0.714 -1.9637,0 -3.41064,-0.6483 -1.44694,-0.6577 -2.27376,-1.8133 -0.82682,-1.1557 -0.93017,-2.6778 h 1.80397 q 0.094,1.1369 0.75166,1.9261 0.6577,0.7893 1.71002,1.2027 1.05232,0.404 2.34892,0.404 1.43754,0 2.55563,-0.4792 1.12749,-0.4886 1.7664,-1.353 0.6483,-0.8738 0.6483,-2.0295 0,-0.9771 -0.50737,-1.6348 -0.50737,-0.6671 -1.41875,-1.1181 -0.90199,-0.451 -2.09524,-0.7986 l -2.30195,-0.6765 q -2.26436,-0.6765001 -3.51399,-1.8698001 -1.24963,-1.1932004 -1.24963,-3.0442004 0,-1.5503 0.82682,-2.7247 0.83622,-1.1839 2.25497,-1.8416 Q 60.007921,5.0000782e-7 61.783701,5.0000782e-7 q 1.79458,0 3.17575,0.65769999999218 1.38117,0.6577 2.1892,1.8134 0.81743,1.1463 0.8738,2.612 z"
				style="font-size:26.4583px;font-family:Inter;-inkscape-font-specification:'Inter Light';letter-spacing:2.64583px;fill:#ffffff;stroke-width:0.264583"
				id="path37298"></path>
			<path
				d="M 75.000001,19.242401 V 5.0000782e-7 h 6.21056 q 2.04827,0 3.42004,0.78919999999218 1.38117,0.7799 2.07645,2.1235 0.70468,1.3435 0.70468,3.0254 0,1.6818004 -0.69529,3.0348004 -0.69528,1.3436001 -2.06705,2.1328001 -1.37177,0.7799 -3.41064,0.7799 h -4.88577 v -1.5785 h 4.83879 q 1.51271,0 2.50865,-0.5638001 0.99595,-0.5731 1.48453,-1.5596 0.49797,-0.9866004 0.49797,-2.2456004 0,-1.259 -0.49797,-2.2456 -0.48858,-0.9865 -1.49392,-1.5503 -0.99595,-0.5637 -2.52745,-0.5637 h -4.40658 V 19.242401 Z"
				style="font-size:26.4583px;font-family:Inter;-inkscape-font-specification:'Inter Light';letter-spacing:2.64583px;fill:#ffffff;stroke-width:0.264583"
				id="path37300"></path>
			<path
				d="M 96.799993,0.2730005 V 19.515401 h -1.75699 V 0.2730005 Z"
				style="font-size:26.4583px;font-family:Inter;-inkscape-font-specification:'Inter Light';letter-spacing:2.64583px;fill:#ffffff;stroke-width:0.264583"
				id="path37302"></path>
			<g
				aria-label="RIT"
				id="text3256-2-3-4"
				style="font-size:26.4583px;font-family:Inter;-inkscape-font-specification:Inter;letter-spacing:2.75px;fill:#ffffff;stroke-width:0.275"
				transform="translate(-454.99999,-1555)">
				<path
					d="m 510,1595 v -19.2424 h 6.21056 q 2.04826,0 3.42003,0.7423 1.38117,0.7328 2.07645,2.0388 0.70468,1.2966 0.70468,2.9785 0,1.6818 -0.70468,2.969 -0.69528,1.2872 -2.06705,2.0107 -1.37177,0.7235 -3.40125,0.7235 h -5.28978 v -1.6067 h 5.24281 q 1.50331,0 2.49925,-0.498 1.00534,-0.498 1.49392,-1.4187 0.49797,-0.9208 0.49797,-2.1798 0,-1.2591 -0.49797,-2.1986 -0.49797,-0.949 -1.50331,-1.4658 -0.99595,-0.5167 -2.51805,-0.5167 h -4.40659 V 1595 Z m 8.48432,-8.6816 4.73543,8.6816 h -2.02947 l -4.68846,-8.6816 z"
					style="-inkscape-font-specification:'Inter Light'"
					id="path37311"></path>
				<path
					d="M 531.75699,1575.7576 V 1595 H 530 v -19.2424 z"
					style="-inkscape-font-specification:'Inter Light'"
					id="path37313"></path>
				<path
					d="m 537.89935,1577.3361 v -1.5785 h 13.95262 v 1.5785 h -6.09781 V 1595 h -1.757 v -17.6639 z"
					style="-inkscape-font-specification:'Inter Light'"
					id="path37315"></path>
			</g>
			<path
				id="path10619-3-7-5"
				style="font-variation-settings:normal;vector-effect:none;fill:url(#linearGradient41001);fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="M 20.000001,5.0000782e-7 V 7.9999009 a 11.99999,11.999976 0 0 1 11.99967,12.0001001 h 8.00033 a 19.999983,19.999959 0 0 0 -20,-20.00000049999218 z"
			></path>
			<path
				id="path10619-6-0-1"
				style="font-variation-settings:normal;vector-effect:none;fill:url(#linearGradient41003);fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="m 20.000001,20.000001 v 7.9999 a 11.99999,11.999976 0 0 1 11.99967,12.0001 h 8.00033 a 19.999983,19.999959 0 0 0 -20,-20 z"
			></path>
			<path
				id="path10619-07-3"
				style="font-variation-settings:normal;vector-effect:none;fill:url(#linearGradient4355);fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="M 5e-7,5.0000782e-7 V 7.9999009 A 11.99999,11.999976 0 0 1 11.999671,20.000001 h 8.00033 A 19.999983,19.999959 0 0 0 5e-7,5.0000782e-7 Z"
			></path>
			<path
				id="path10619-0-8-2"
				style="font-variation-settings:normal;vector-effect:none;fill:url(#linearGradient4351);fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="m 5e-7,20.000001 v 7.9999 a 11.99999,11.999976 0 0 1 11.9996705,12.0001 h 8.00033 A 19.999983,19.999959 0 0 0 5e-7,20.000001 Z"
			></path>
			<path
				id="path10619-0-8-6-1"
				style="font-variation-settings:normal;vector-effect:none;fill:url(#linearGradient4359);fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="m 5e-7,20.000001 v 7.9999 a 11.99999,11.999976 0 0 1 11.9996705,12.0001 h 8.00033 A 19.999983,19.999959 0 0 0 5e-7,20.000001 Z"
			></path>
		</g>
	</svg>
</div>
