---

---

<div>
	<svg
		class="h-14 w-14"
		width="50mm"
		height="50mm"
		viewBox="0 0 50 50"
		version="1.1"
		id="svg263167"
		xmlns="http://www.w3.org/2000/svg">
		<defs id="defs263164"></defs>
		<g id="layer1">
			<path
				id="path10619-3-7-3-4"
				style="font-variation-settings:normal;vector-effect:none;fill:#b300ff;fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="M 25.0001,5.000149e-7 V 10.000001 a 15.000051,15 0 0 1 14.99965,15.0001 H 50.00021 A 25.000083,24.999996 0 0 0 25.0001,5.000149e-7 Z"
			></path>
			<path
				id="path10619-6-0-25-3"
				style="font-variation-settings:normal;vector-effect:none;fill:#2b39fe;fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="m 25.0001,25.000101 v 9.9997 a 15.000051,15 0 0 1 14.99965,15.0002 H 50.00021 A 25.000083,24.999996 0 0 0 25.0001,25.000101 Z"
			></path>
			<path
				id="path10619-07-86-99"
				style="font-variation-settings:normal;vector-effect:none;fill:#2b39fe;fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="M 5e-7,5.000149e-7 V 10.000001 a 15.000051,15 0 0 1 14.9996505,15.0001 H 25.0001 A 25.000083,24.999996 0 0 0 5e-7,5.000149e-7 Z"
			></path>
			<path
				id="path10619-0-8-34-4"
				style="font-variation-settings:normal;vector-effect:none;fill:#8400ff;fill-opacity:1;fill-rule:evenodd;stroke:#000080;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
				d="m 5e-7,25.000101 v 9.9997 a 15.000051,15 0 0 1 14.9996505,15.0002 H 25.0001 A 25.000083,24.999996 0 0 0 5e-7,25.000101 Z"
			></path>
		</g>
	</svg>
</div>
