---
const { title, summary, icon, gallery, links, slug } = Astro.props;
let featuredImage = "";
for (let i = 0; i < gallery.length; i++) {
	if (gallery[i].featured === true) {
		featuredImage = gallery[i].url;
	}
}
---

<a
	href={slug ? "/project/" + slug : "https://github.com/spiritgamestudios"}
	class="relative rounded-3xl border transition hover:shadow-md hover:shadow-brand-background-secondary">
	<div class="flex flex-row items-center gap-4 p-6">
		<img class="h-24 w-24 flex-none rounded-xl" src={icon ?? "undefined"} />
		<div class="flex flex-col justify-center">
			<span class="text-4xl font-extrabold tracking-tight sm:text-5xl">{title ?? "Undefined"}</span>
			<span class="text-lg sm:text-xl">{summary ?? "undefined"}</span>
		</div>
	</div>
	<div
		class="cardbg absolute left-0 top-0 z-[-1] h-full w-full rounded-3xl bg-cover bg-center bg-no-repeat object-cover"
		style={{ backgroundImage: `url(${featuredImage})` }}>
	</div>
</a>
