---
import "../styles/global.css"
---

<!doctype html>
<html class="text-brand-text bg-brand-background h-full">
  <head>
    <title> Spirit Studios </title>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
    <meta name="title" content="Home - Spirit Studios">
    <meta name="description" content="Spirit Studios is a small Minecraft modding group that makes vanilla-style mods for Fabric.">
    <meta name="keywords" content="minecraft,fabric,mod,modrinth,spirit,spiritstudios">
    <meta name="robots" content="index">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Spirit Studios">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Spirit Studios">
    <meta property="og:url" content="https://spiritstudios.dev">
    <meta property="og:image" content="https://spiritstudios.dev/og.png">
    <meta property="og:description" content="Spirit Studios is a small Minecraft modding group that makes vanilla-style mods for Fabric.">
  </head>
  <body class="h-full">
    <main class="p-6 h-full">
      <slot />
    </main>
  </body>
</html>